<template>
    <div class="M-<%= data.name%>">

    </div>
</template>
 
<script lang="ts">
import { defineComponent } from "vue"
export default defineComponent({
  name: "<%= data.name %>",
  components: {},
  props: {},
  setup(props, ctx) {
  
    return {
      // attributes
 
      // modules
    
      // functions
  
    };
  }
});
</script>

<style lang='less' scoped>

</style>